/bitrix/
/.idea
/vendor/
/node_modules/
*.log
/bower_components/
/upload
/local/build
/local/php_interface/custom_mail.php
hosts.yml
.env
.idea
/sites/s1/bitrix
/sites/s1/local
/sites/s1/upload
/sites/s1/test
/local/cache
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
/local/classes/ServiceProvider/cache/
/bitrix/

/composer.lock
composer.lock

/local/components/bbc
/local/modules/bex.bbc
