<br><br><br><br><br>
<h1>Я статическая страница</h1>

<div class="home-philosophy my-3 my-md-4 my-lg-5 my-xl-10">
    {{ param('kernel.project_dir') }}
    {{ service('build.path') }}
</div>

<div>Привет.</div>

