####################
# Guzzle middleware
###################

services:
  # конфигурация по умолчанию в *этом* файле
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  bitrix.simple.cacher.configured:
    class: Local\Services\Bitrix\Psr16Cache\BitrixCacher
    arguments: ['@Bitrix\Main\Data\Cache']
    calls:
      - setBaseDir: ['/guzzle_request']
      - setTtl: [3600]

  bitrix.psr.simple.cacher.adapter:
    class: Prokl\GuzzleBundle\Middlewares\Cache\Adapter\CacheInterfaceAdapter
    arguments: ['@bitrix.simple.cacher.configured', 3600]
