/**  Montserrat */
$font_basic: "Montserrat", sans-serif;

// COLORS
$color_white: #fff;
$color_black: #000;
$color_gray: #808080; // checkbox in form
$color_gray_no_active: #c8c8c8;
$color_main: #bc945b;
$color_main_hover: #ae874f;
$color_main_active: #98733e;
$color_violet: #8300ff;

// Colors for text
$color_text_basic: #000;
$color_text_white: #fff;
$color_text_gold: #bc945b;
$color_text_gold_hover: #ae874f;
$color_text_gold_active: #98733e;
$color_text_red: #e80036;

// Colors for forms
$color_error: #f08200;
$color_ok: #67a41b;

// Colors for borders
$color_border: #707070; // in form-input
$color_border_blue: #a3c7d2;

// Colors for placeholder
$color_placeholder_normal: #434343;
$color_placeholder_light: #fff;

// Colors for button
$color_btn_normal: #bc945b;
$color_btn_hover: #ae874f;
$color_btn_active: #98733e;
$color_btn_disabled: rgba(196, 196, 196, 0.6);
$color_btnText_disabled: #fff;

$color_bg_grey: rgba(245, 245, 245, 1);
$color_bg_grey_05: rgba(245, 245, 245, 0.5);
$color_bg_grey_0: rgba(245, 245, 245, 0);
$color_border: #707070;

/** BOOTSTRAP VARIABLES */

$enable-rounded: false;

$spacer: 1rem;

$spacers: (
  10: ($spacer * 6)
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$grid-gutter-width: 32px;

$font-family-sans-serif: $font_basic;
$font-family-base: $font-family-sans-serif;

$font-weight-light: 300;

$primary: $color_main;
$success: $color_ok;
$danger: $color_error;
$dark: $color_black;
$body-color: $color_text_basic;
$link-color: $color_text_gold;
$link-hover-color: $color_text_gold_hover;
$border-color: $color_border;

$headings-font-weight: 700;
$headings-color: $color_text_basic;

// $breadcrumb-divider: "~@images/breadcrumbs-divider.svg";

$breadcrumb-font-size: 0.875rem;

$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 0.625rem;

$breadcrumb-margin-bottom: 0;

$breadcrumb-bg: transparent;
$breadcrumb-divider-color: #fff;
$breadcrumb-active-color: #fff;

$breadcrumb-border-radius: 0;

$input-placeholder-color: $color_placeholder_normal;

$btn-padding-y: 1.125rem;
$btn-padding-x: 1.5rem;
$btn-font-family: $font_basic;
$btn-font-size: 1.125rem;
$btn-line-height: 1.5rem;

$btn-padding-y-sm: 0.625rem;
$btn-padding-x-sm: 1.5rem;
$btn-font-size-sm: 0.875rem;
$btn-line-height-sm: 1.25rem;

// $btn-border-width: 0;

$btn-border-radius: 2px;

$btn-font-weight: 600;
$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 0.6;
$btn-active-box-shadow: none;

$btn-link-disabled-color: rgb(196, 196, 196);

$btn-block-spacing-y: 0.5rem;

$card-spacer-y: 1.75rem;
$card-spacer-x: 2.5rem;

$card-border-width: 0;
$card-border-radius: 0;

$card-img-overlay-padding: 2.5rem;

$component-active-color: #fff;
$component-active-bg: #98733e;

/** DEFAULT BS4 VALUES!!! */
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$nav-link-disabled-color: rgb(196, 196, 196);

$nav-tabs-border-color: transparent;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: 0;
$nav-tabs-link-active-color: #98733e;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: transparent;

$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: none;

$input-font-size: 0.875rem;
$input-padding-x-sm: 0.75rem;
$input-padding-y-sm: 0.625rem;
$input-bg: transparent;
$input-disabled-bg: transparent;
$input-color: #434343;
$input-border-color: #707070;
$input-border-width: 1px;
$input-box-shadow: none;

$input-border-radius: 2px 2px 0 0;

$input-focus-bg: rgba(196, 196, 196, 0.2);
$input-focus-border-color: #bc945b;
$input-focus-color: #434343;
$input-focus-width: 0;
$input-focus-box-shadow: none;

$input-placeholder-color: #434343;
$input-plaintext-color: #434343;
$input-height-border: 1px;
$input-height: 42px;

$form-group-margin-bottom: 2rem;

$form-feedback-margin-top: 8px;
$form-feedback-font-size: 11px;
$form-feedback-valid-color: $color_ok;
$form-feedback-invalid-color: $color_error;

$form-feedback-icon-valid-color: $color_ok;
$form-feedback-icon-valid: url("data:image/svg+xml, <svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.5 0C4.26179 0 0 4.26179 0 9.5C0 14.7382 4.26179 19 9.5 19C14.7382 19 19 14.7382 19 9.5C19 4.26179 14.7382 0 9.5 0ZM9.5 17.8125C4.91643 17.8125 1.18751 14.0836 1.18751 9.50004C1.18751 4.91646 4.91643 1.18751 9.5 1.18751C14.0836 1.18751 17.8125 4.91643 17.8125 9.5C17.8125 14.0836 14.0836 17.8125 9.5 17.8125Z' fill='#67A41B'/><path d='M8.31238 11.6291L5.76342 9.0801L4.92383 9.9197L8.31238 13.3082L14.076 7.54467L13.2364 6.70508L8.31238 11.6291Z' fill='#67A41B'/></svg>");
$form-feedback-icon-invalid-color: $color_error;
$form-feedback-icon-invalid: url("data:image/svg+xml, <svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.5 0C4.26179 0 0 4.26179 0 9.5C0 14.7382 4.26179 19 9.5 19C14.7382 19 19 14.7382 19 9.5C19 4.26179 14.7382 0 9.5 0ZM9.5 17.8125C4.91643 17.8125 1.18751 14.0836 1.18751 9.50004C1.18751 4.91646 4.91643 1.18751 9.5 1.18751C14.0836 1.18751 17.8125 4.91643 17.8125 9.5C17.8125 14.0836 14.0836 17.8125 9.5 17.8125Z' fill='#F08200'/><path d='M8.90625 13.0625H10.0938V14.25H8.90625V13.0625Z' fill='#F08200'/><path d='M8.90625 4.75H10.0937V11.875H8.90625V4.75Z' fill='#F08200'/></svg>");

@import "~bootstrap/scss/variables";
