<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap/bootstrap.php" colors="true" executionOrder="random" resolveDependencies="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory>local/classes/Bundles/CustomArgumentResolverBundle/Tests/Cases/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name='HTTP_HOST' value='localhost' />
        <server name='SERVER_NAME' value='localhost' />
    </php>
</phpunit>
